---
standalone: true
---

// Coded in Stylus: http://learnboost.github.com/stylus/

// ====================================
// Imports

// nib: http://visionmedia.github.com/nib/
@import 'nib'

// vendor
@import '/vendor/highlight.css'
@import '/vendor/normalize.css'
@import '/vendor/h5bp.css'
@import '/vendor/bootstrap/button.css'


// ====================================
// Responsive Layout Awesomeness
// https://gist.github.com/1549029
// Published under the "public domain" using the Creative Commons Zero - http://creativecommons.org/publicdomain/zero/1.0/

// Everything
*
	// Make paddings be included within the width
	box-sizing border-box

// Provide our wrapper mixin
// Contains our resize transition
wrapper($site-width = 70%)
	$site-margin = ((100% - $site-width) / 2)
	margin-left: $site-margin
	margin-right: $site-margin
	transition: margin 0.3s ease-out
	clearfix()

// Provide our column mixin
column($columns)
	display: inline
	float: left
	overflow: hidden
	width: (100/$columns)%


// ====================================
// Configuration

// Variables
theme = "gray"

// Text
colorHeading = #3F3931
colorSubheading = #999992
colorMenu = #403931
colorNav = colorHeading
colorSubnav = colorMenu
colorBlockHeading = colorSubheading
colorAccent = hsl(11, 90%, 55%)
colorActive = colorAccent
colorLink = hsl(195, 85%, 34%) // hsl(195, 100%, 35%)
colorContent = #4C4439

// Fonts
fontMyraid = Myriad Pro
fontMyraidBoldest = 700
fontMyraidBold = 600
fontMyraidNormal = 500
fontMyraidLight = 500
fontMyraidLightest = 500


// ====================================
// Mixins

// Heading
mixinHeading()
	font-family: fontMyraid
	font-weight: fontMyraidBold
	color: colorHeading

// Subheading
mixinSubheading()
	font-family: fontMyraid
	font-weight: fontMyraidNormal
	color: colorSubheading

// Nav
mixinNav()
	font-family: fontMyraid
	font-weight: fontMyraidBoldest
	color: colorNav

// Menu
mixinMenu()
	font-family: fontMyraid
	font-weight: fontMyraidBoldest
	color: colorMenu

// Icons
mixinIconPageUp()
	&:before
		content: '↑'
mixinIconPageDown()
	&:before
		content: '↓'
mixinIconPagePrev()
	&:before
		content: '←'
mixinIconPageNext()
	&:before
		content: '→'
mixinIconSectionUp()
	&:before
		content: '⇧'
mixinIconSectionDown()
	display: inline-block
	transform: rotate(-180deg)
	&:before
		content: '⇧'
mixinIconAccountPointer()
	display: inline-block
	transform: rotate(-180deg)
	transition: all 0.5s
	&:before
		content: '▴'



// ====================================
// Styles

body
	cursor: default
	color: colorContent
	font-smooth: always
	font-family: fontMyraid
	-webkit-font-smoothing: antialiased
	text-rendering: optimizeLegibility
	padding-bottom: 4em

em
	color: colorAccent
	font-style: normal

.label
	padding: 0.1em 0.4em
	border-radius: 3px
	font-size: 0.75em
	font-weight: bold
	line-height: 14px
	color: white
	text-shadow: 0 -1px 0 hsla(0, 0%, 0%, 0.25)
	white-space: nowrap
	vertical-align: baseline
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
	margin-left: 0.5em
	&.label-success, &.label-training
		background: hsl(121, 32%, 40%)
	&.label-info, &.label-pro
		background: hsl(200, 50%, 45%)
	&.label-warning
		background: hsl(35, 95%, 50%)
	&.label-important
		background: hsl(1, 45%, 50%)

a:not(.hover-link),.link
	cursor: pointer
	text-decoration: none
	color: colorLink
	font-weight: fontMyraidBold
a.hover-link
	cursor: pointer
	text-decoration: none
	color: inherit
a:hover,.hover-link:hover
	text-decoration: underline

.container
	margin: 2em 5%
	position: relative

.topbar
	position: relative
	margin-bottom: 1.5em
	.heading
		mixinHeading()
		font-size: 48px
		display: inline
	.subheading
		mixinSubheading()
		font-size: 24px
		display: inline

.accountbar
	mixinMenu()
	font-size: 14px
	display: block
	position: absolute
	right: 0
	top: 1em
	width: 100%

	.heading
		.icon
			mixinIconAccountPointer()
		.title
			padding-right: 0.2em

	.heading-background
	.heading
	.content
		display: block
		position: absolute
		right: 0
	.heading-background
	.heading
		top: 0
		height: 3em
		padding: 1em
		width: 120px
		text-align: center
		z-index: 501
		cursor: pointer
	.heading-background
	.content
		top: -5000px
		transition: opacity 0.2s ease-out
	.content
		box-shadow: 0 0 9px hsla(0, 0%, 0%, 0.12)
		z-index: 500
		margin-top: -7px
		padding: 2.5em 2.5em 1.5em 2.5em
		width: 45%
		opacity: 0
		text-align: center
		font-weight: fontMyraidNormal
		font-size: 16px
		.stuff
			text-align: left
			.name
				text-align: center
		.avatar
			position: absolute
			top: -30px
			left: 5%
			width: 82px
			height: 82px
			border-radius: 41px
			box-shadow:
				0 3px 3px hsla(0, 0%, 0%, .15),
				0 2px 0 hsla(0, 0%, 0%, .5) inset,
				0 -2px 0 hsla(0, 0%, 0%, .5) inset,
				-2px 0 0 hsla(0, 0%, 0%, .5) inset,
				2px 0 0 hsla(0, 0%, 0%, .5) inset,
				0 3px 2px hsla(0, 100%, 100%, .6) inset,
				0 -3px 2px hsla(0, 0%, 0%, .5) inset
			/* the above is borrowed, will need to change this */
			.avatar-image
				width: 80px
				height: 80px
				border-radius: 40px
		.well
			display: block
			box-sizing: content-box
			width: 100%
			padding: 0.75em 2.5em
			margin: 1em 0 2em -2.5em
			border: 1px solid hsl(42, 19%, 80%)
			border-left: none
			border-right: none
			background: hsl(37, 60%, 94%)
		h2
			font-size: 18px
			color: colorAccent
			font-weight: fontMyraidNormal
			margin-bottom: -1em

	&:hover
		.heading-background
		.content
			border: 1px solid #BBBBBB
			background: hsl(36, 17%, 97%)
			opacity: 1
		.heading-background
			top: 0
			border-bottom: none
		.content
			top: 3em
		.icon
			transform: rotate(-90deg)

.sidebar
	position: absolute
	width: 150px
	font-size: 18px

	nav,nav li
		list-style: none
	li
		margin: 0 0 0.5em
	li.active
		> a
			color: colorActive
	a
		text-decoration: none
		mixinNav()
		&:hover
			text-decoration: underline

.mainbar
	padding-left: 11% // 250px
	width: 100%

	.block
		border-radius: 8px
		color: colorContent
		padding: 2em 4% 1em
		margin-bottom: 4em

		.block-header
			position: relative

			&:hover
				.up
					opacity: 1

			h1
				margin-top: 0

		.block-content
			margin-top: 3em

			nav,nav li
				list-style: none

			.reference
				.project
					clear: both
					margin-bottom: 4em
				.categories
					wrapper(100%)
					.category
						column(4)
					&.columns-3 .category
						column(3)
					&.columns-2 .category
						column(2)
					&.columns-1 .category
						column(1)
				h2
					margin-top: 0
				.subblock
					padding: 3em 3em 2em

		.block-footer
			.prev-next
				position: relative
				height: 80px

				.prev
				.next
				.up
					display: block
					position: absolute
					bottom: 0
					height: 65px
					padding-top: 1em
					width: 33%
					transition: opacity 0.2s ease-out
					opacity: 0.3
					text-decoration: none
					&:hover
						opacity: 1
						.title
							text-decoration: underline
					.icon
						display: block
						height: auto
						width: auto

				.prev
					left: 0
					text-align: left
					.icon
						mixinIconPagePrev()
				.next
					right: 0
					text-align: right
					.icon
						mixinIconPageNext()
				.up
					left: 33%
					text-align: center
					.icon
						mixinIconPageUp()



		.section-wrapper
			display:none
			&.active
				display:block


		h1
			margin-bottom: -1em
			font-size: 32px

		h2
			font-weight: fontMyraidBoldest
			color: colorAccent
			font-size: 20px
			margin-top: 4em

		h3
			font-size: 18px


	.subblock
		border-radius: 8px
		color: colorContent
		padding: 2em 2em 1em
		margin: 1.5em 0
		position: relative

		&.subblock-yesavatar
			.subblock-avatar
				width: 128px*.85
				margin-top: 0.5em
				position: absolute
				left: 0
				text-align: center
				.subblock-avatar-image
					max-width: 96px*.7
			.subblock-main
				padding-left: 96px*.8

		header
			position: relative
			h1,h2
				display: inline
				margin: 0
				padding: 0
			h1
				font-weight: fontMyraidBoldest
				font-size: 18px
			h2
				font-weight: fontMyraidLightest
				color: colorAccent
				font-size: 16px
				position: absolute
				top: 0
				right: 0

.bottombar
	padding-left: 11% // 250px
	width: 100%
	font-size: 14px
	color: colorSubheading
	position: relative
	margin-top: -4em

	.poweredby
		float:left
		opacity: 0.5
		transition: opacity 1s ease-out
		&:hover
			opacity: 1

	.copyright
		opacity: 0.5
		float:right

.specialbar
	.docnav
		position: fixed
		bottom: 1em
		right: 1em
		display: none
		&.active
			display: block
		.up,.down
			font-size: 30px
			transition: all 0.2s ease-out
			color: hsla(0, 0%, 0%, 0.05)
			&.active
				cursor: pointer
				color: hsla(0, 0%, 0%, 0.1)
				&:hover
					color: colorAccent
					opacity: 0.5
					text-shadow: 0 -2px 3px hsla(0, 0%, 0%, 0.2)
		.up
			.icon
				mixinIconSectionUp()
		.down
			.icon
				mixinIconSectionDown()

.clear
	clear: both


// ====================================
// Themes

// Light
if theme is "light"
	body
		background: hsl(40, 21%, 99%)

	.topbar
		.subheading
			color: hsl(60, 0%, 82%)

	.sidebar
		li
			opacity: 0.8

	.block
		box-shadow: inset 0 0 9px hsla(0, 0%, 0%, 0.01), 0 0 70px hsla(37, 25%, 25%, 0.09)
		border: 1px solid hsl(0, 0%, 78%)
		background: white

	.subblock
		box-shadow: inset 0 0 9px hsla(0, 0%, 0%, 0.01), 0 0 70px hsla(37, 25%, 25%, 0.09)
		border: 1px solid hsl(42, 19%, 80%)
		background: hsl(37, 70%, 94%)

else if theme is "gray"
	body
		background: hsl(36, 17%, 97%)

	.block
		box-shadow: 0 0 9px hsla(0, 0%, 0%, 0.12)
		border: 1px solid hsl(53, 19%, 80%)
		background: white

	.subblock
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1)
		border: 1px solid hsl(42, 19%, 80%)
		background: hsl(37, 60%, 94%)

else if theme is "cream"
	body
		background: #FDFBF1 url(/images/bg.gif) repeat

	.block
		box-shadow: 0 0 9px hsla(0, 0%, 0%, 0.12)
		border: 1px solid hsl(53, 19%, 80%) // hsl(48, 15%, 87%)
		background: hsl(60, 25%, 98%)

	.subblock
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1)
		border: 1px solid hsl(42, 19%, 80%)
		background: hsl(42, 37%, 93%)

else if theme is "expiremental"
	body
		background: #FDFBF1 url(/images/bg.gif) repeat

	.block
		box-shadow: 0 0 9px hsla(0, 0%, 0%, 0.12)
		border: 1px solid hsl(53, 19%, 80%) // hsl(48, 15%, 87%)
		background: hsl(60, 25%, 98%)

	.subblock
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1)
		border: 1px solid hsl(42, 19%, 80%)
		background: hsl(42, 37%, 93%)



