/* Your styles go here */

/*=========================================
Base
=========================================== */

colorBackgroundBlue = #5badf0
colorBorder = #eee
colorTextDefault = #777
colorTextBlue = #5694f1
colorTextHeading = #222
colorTextSubheading = #aaa

body
	font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif
	color: colorTextDefault
	font-smoothing: antialiased
	text-rendering: optimizeLegibility
	cursor: default

/* Link to Documentation */
a.documentation
	position: fixed
	z-index: 100
	top: 11px
	right: 10px
	padding: 8px 12px

	background: colorBackgroundBlue

	color: #fff
	font-size: 13px
	font-weight: 600
	line-height: 1.4

	border-radius: 3px

.wrapper
	padding: 60px 40px 100px 40px
	margin: 0 auto
	max-width: 80%

.content
	margin: auto
	text-align: center

.header
	border-bottom: 1px solid colorBorder
	margin-bottom: 40px
	padding-bottom: 40px
	text-align: center
	position: relative

	.avatar
		display: inline-block
		width: 200px
		margin-bottom: 20px


.years
	margin: 2em 0 1em
	a
		// border: 1px solid colorBorder
		// background: rgba(238, 238, 238, 0.33)
		padding: 5px 20px
		color: colorTextSubheading
		margin: 0 10%
		&.active
			color: colorTextHeading
		&:hover
			color: colorTextBlue

/*=========================================
Typography
=========================================== */
/*Accent color*/

a
	text-decoration: none
	color: inherit

a:not(.hover-link)
	color: colorTextBlue
	font-weight: 400
	&:hover
		color: colorTextBlue
		text-decoration: underline

h1, h2, h3, h4, h5, h6, h7
	font-weight: 400
	font-size: 20px
	margin: 3em 0em 1em 0em
	color: colorTextHeading

h2, h3, h4, h5, h6, h7
	font-weight: 300

h3
	color: colorTextSubheading
	margin: 2em 0 0 0
	transition: color 1s ease-out

.item
	display: block
	margin: 2em 0 0 0

	&:hover
		h3
			color: colorTextBlue

	h3
		margin: 0
		&:hover
			text-decoration: underline

	.avatar
		display: inline-block
		width: 80px
		height: 80px
		border-radius: 50%
		margin-bottom: 0.5em

h3 + p
	margin: 0

p
	line-height: 1.8
	margin-bottom: 30px
	font-size: 16px
